* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Ubuntu", sans-serif;
  color: #110303;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Russo One", sans-serif;
}
h1 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 850px;
  width: 850px;
  margin: auto;
}
.section-container {
  max-width: 850px;
  width: 850px;
  margin: auto;
}
@media (max-width:500px) {
  max-width: 450px;
  width: (max-width:500px);
  margin: auto;
}
.container {
  max-width: 850px;
  width: 850px;
  margin: auto;
}
.container .landing {
  background-image: url(../assets/landing.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 42rem;
}
.container .landing h1 {
  margin: 0;
}
.container .nav {
  max-width: 850px;
  width: 850px;
  margin: auto;
  background-color: #9858db;
  padding: 20px;
}
.container .nav .logo {
  width: 10px;
}
.container .nav a {
  text-decoration: none;
  color: white;
}
.container .sticky {
  position: fixed;
  top: 0;
  max-width: 850px;
  width: 850px;
  margin: auto;
}
.container .who {
  width: 850px;
}
.container .features {
  background-color: #9858db;
}
@media (max-width:500px) {
  .container {
    max-width: 450px;
    width: (max-width:500px);
    margin: auto;
  }
  .nav {
    max-width: 450px;
    width: (max-width:500px);
    margin: auto;
    background-color: #9858db;
    padding: 20px;
  }
  .nav a {
    text-decoration: none;
    color: white;
  }
  .logo {
    max-width: 450px;
    margin: auto;
  }
  .who {
    max-width: 450px;
    width: (max-width:500px);
    margin: auto;
  }
  .landing {
    background-image: url(../assets/landing.jpeg);
    background-size: 430px;
    background-repeat: no-repeat;
    margin: auto;
  }
  .landing h1 {
    margin: auto;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.footer {
  background-color: #9858db;
  text-align: center;
  font-size: 1rem;
  padding: 8px;
}
.container {
  width: 100%;
  padding: 8px;
  margin: auto;
}
.section-container {
  width: 100%;
  padding: 5px;
  margin: auto;
}
.missionStatement {
  margin-top: 4%;
  margin-bottom: 4%;
}
.missionStatement h1 {
  font-size: 2.5rem;
  margin-bottom: 2%;
}
.missionStatement p {
  font-size: 1.2rem;
}
.features {
  margin-top: 4%;
  margin-bottom: 4%;
}
.features h1 {
  font-size: 2.5rem;
  margin-bottom: 2%;
}
.features p {
  font-size: 1.2rem;
}
.whatItDoes {
  margin-top: 4%;
  margin-bottom: 4%;
}
.whatItDoes h1 {
  font-size: 2.5rem;
  margin-bottom: 2%;
}
.whatItDoes p {
  font-size: 1.2rem;
}
.custReview h1 {
  font-size: 2.5rem;
  margin-bottom: 2%;
}
.cr {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.imgg {
  margin-right: 5%;
}
.imgg img {
  border-radius: 70px;
}
.imgg p {
  text-align: center;
  font-size: 1.3rem;
}
.cr .review {
  display: flex;
}
.review {
  margin: 50px 0 50px 0;
  font-size: 1.2rem;
}
@media (max-width:500px) {
  .container {
    max-width: 450px;
    width: (max-width:500px);
    margin: auto;
  }
  .missionStatement {
    margin-top: 4%;
    margin-bottom: 4%;
  }
  .missionStatement h1 {
    font-size: 2.5rem;
    margin-bottom: 2%;
  }
  .missionStatement p {
    font-size: 1.2rem;
  }
  .custReview h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
  }
  .section-container {
    width: 100%;
    max-width: 450px;
    padding: 5px;
    margin: auto;
  }
  .cr {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .imgg {
    align-content: center;
    margin: auto;
  }
  .imgg img {
    border-radius: 70px;
  }
  .imgg p {
    text-align: center;
    font-size: 1.5rem;
  }
  .cr .review {
    display: flex;
  }
  .review {
    margin: 10px 0 30px 0;
    text-align: center;
  }
  .review p {
    font-size: 1.2rem;
  }
  .custReview {
    border-top: 1px grey solid;
    padding-top: 10px;
    border-bottom: 1px grey solid;
    background-color: #2bf7b3;
  }
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizYRExUiTo99u79D0e0x8mN.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url(https://fonts.gstatic.com/s/ptsans/v10/jizdRExUiTo99u79D0e8fOydLxUY.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v10/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v10/jizfRExUiTo99u79B_mh0O6tKA.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
