.nav {
  background-color: #9858DB;
  padding: 20px;
}
.nav a {
  text-decoration: none;
  color: white;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
html,
body {
  margin: 0;
  padding: 0;
}
