

.container {
    .landing {
        background: url(../assets/landing.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 71rem;
        width: 100%;

        .header-display {
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: -webkit-fill-available;
            margin: auto; 
            margin-right: 0; 

            // @media @mobile-pixel2 {
            //     justify-co
            // }

            img {
                justify-content: center;
                border-radius: 8px;
                margin-bottom: 3.5rem;
            }

            h1 {
                margin: 0;
                color: white;
                font-size: 2rem;
            }

            button {
                background: @purp;
                color: white;
                margin-top: 3.5rem;
                padding: 1.5rem;
                border-color: @purp;
                border-radius: 0.8rem;
                font-size: 2rem;
                font-family: Quicksand;

                &:focus {
                    outline: 0; 
                }

                &:hover {
                    transition: 0.8s;
                    background-color: #FFFF5C;
                    border-color: #FFFF5C;
                    color: @purp;
                }
            }
        }
    }

    .nav {
        background-color: @purp;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        height: 60px;
        position: sticky;
        bottom: 0;
        transition: height 1s;

        @media @small-mobile {
            flex-direction: column; 
            padding-bottom: 1.5rem; 
            width: 100%; 
        }

        &:hover {
            height: 7.5rem;
        }

        a {
            float: left;
            text-align: center;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            padding: 5px 20px;
            transition: .5s;
            font-size: 1.5rem;

            &:hover {
                color: #FFFF5C;
            }
        }

        .right-nav a {
            @media @mobile {
                font-size: 1.1rem;
                display: flex; 
                flex-direction: column; 
            }
        }
    }

    .sticky {
        top: 0;
        bottom: auto;
        width: 100%;
    }

    .opacity {
        opacity: 1;
    }
}

.about-section {
    font-size: 5rem; 
    background: white; 
    margin-top: 5rem; 

    h1 {
        color: @purp; 
        text-align: center; 
        padding-top: 3rem; 
        font-weight: 700; 
        font-family: @font; 

        @media @tablet {
            text-align: center; 
        }
    }

    .about-us {
        width: 100%; 
        display: flex; 

        @media @tablet {
            flex-direction: column; 
            align-items: center; 
        }

        @media @mobile {
            flex-direction: column; 
            align-items: center;
            
        }

        .about-us-pic {
            width: 50%; 
            display: flex; 
            justify-content: center; 
            margin-right: 2.5rem; 
            
            @media @tablet {
                width: 100%; 
                margin: 0; 
            }

            @media @mobile {
                width: 100%;
                margin-right: 0; 
            }

            img {
                border-radius: 100rem;  
                width: 100%; 
                height: auto;
                max-width: 360px;
                min-width: 360px; 
        
                @media @tablet {

                }

                @media @mobile {
                    margin: 0; 
                    width: 70%; 
                }
            }
        }
        
        .about-us-text {
            width: 50%; 
            display: flex; 
            align-items: center;
            justify-content: center; 
            align-content: center; 
            text-align: center; 

            @media @tablet {
                margin-top: 3rem; 
                justify-content: center; 
                margin-left: 0rem; 
                width: 80%; 
            }

            @media @mobile {
                flex-direction: column; 
                margin-top: 3rem; 
                justify-content: center; 
                margin-left: 0rem; 
                margin-right: 0rem; 
                width: 80%; 
            }

            p {
                width: 100%; 
                font-size: 1.8rem; 
                color: @purp; 
                margin-top: 6rem; 
                text-align: center; 
                margin-right: 3rem; 

                @media @tablet {
                    margin-top: 0; 
                    margin-right: 0; 
                }

                @media @mobile {
                    margin-right: 0; 
                }
            }
        }
    }

}


footer {
    color: @purp;
    font-size: 2rem;  
    margin: auto; 
    margin-top: 1rem; 
    text-align: center; 

    .copyright-section {
        font-size: 2rem; 
        font-weight: 700; 
        margin-top: 5rem; 
    }
}


