* {
  box-sizing: border-box;
}
.cont {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
ul {
  list-style: none;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 5rem;
  padding: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.wrapper > * {
  padding: 1rem;
}

.our-infor {
  background: rgb(225, 10, 233);
  text-align: center;
  font-size: 3rem;
  font-weight: 500px;
  margin: 0 0 1.5rem;
  padding: 10px;
  h3 {
    font-family: cursive;
  }
}

.ur-contact {
  box-shadow: 0 0 2px 0 rebeccapurple;
  align-content: center;
  width: 40%;
  margin: auto;
  margin-bottom: 10px;
  background-color: rgba(34, 36, 31, 0.151);
}
.ur-contact h3 {
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
}
.ur-contact form label input {
  width: 70%;
}
.ur-contact form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.ur-contact form label {
  display: block;
  padding: 10px;
  font-size: 1.2rem;
}
.ur-contact form p {
  margin: 0;
}
.ur-contact form .full {
  grid-column: 1/3;
}

.ur-contact form button,
.ur-contact form input,
.ur-contact form textarea {
  width: 100%;
  padding: 1rem;
}

.ur-contact form button {
  background: greyscale;
  border: 0;
  text-transform: uppercase;
}
.ur-contact form button:hover,
.ur-contact form button:focus {
  background: darkgrey;
  color: white;
  outline: 0;
}

.nav {
  background-color: @purp;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 60px;
  position: sticky;
  bottom: 0;

  transition: height 1s;

  &:hover {
    height: 7.5rem;
  }

  a {
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 20px;
    transition: 0.5s;
    font-size: 1.5rem;

    &:hover {
      color: #ffff5c;
    }
  }

  .right-nav a {
    @media @mobile {
      font-size: 1.4rem;
    }
  }
}

@media @phone {
}
