//  ============== Tabs =================

.tabs {
    display: flex; 
    justify-content: center; 
    font-size: 2rem; 
    font-weight: 700; 
    background: @purp; 
    color: @purp;

    @media @tablet {
        margin-top: 5rem;
        flex-direction: column; 
        text-align: center; 
        align-items: center; 
    }

    @media @mobile {
        margin-top: 5rem;
        flex-direction: column; 
        text-align: center; 
        align-items: center; 
    }

    .tab {
        background: white; 
        border: 1px solid white; 
        text-decoration: none; 
        margin-top: 3rem; 
        font-size: 2rem; 
        border-radius: 2rem; 
        color: @purp; 
        padding: .5rem 2rem; 
        margin: 3rem 2rem; 

        @media @tablet {
            width: 45%; 
            margin-bottom: 0; 
        }

        @media @mobile {
            width: 45%;
            margin-bottom: 0; 
        }

        &:hover {
            background: rgb(199, 195, 195); 
            border: 1px solid rgb(199, 195, 195); 
        }
    }
}





//  ============= Cards ==================

.card {
    background: @purp; 
    font-size: 2rem; 
    text-align: center; 
    display: flex; 
    width: 100%; 
    padding-top: 3rem; 
    padding-bottom: 3rem; 

    @media @tablet {
        flex-direction: column; 
    }

    @media @mobile {
        flex-direction: column; 
    }

    img {
        border-radius: 100rem; 
        width: 50%; 
        max-width: 360px; 
        max-height: 360px;  
        margin: auto;       
    }
    .about-team {
        width: 50%; 
        display: flex; 
        flex-direction: column; 
        justify-content: center;  
        margin-right: 4rem; 
        margin-bottom: 3rem; 

        @media @tablet {
            margin: 0; 
            width: 100%; 
        }

        @media @mobile {
            margin: 0; 
            width: 100%; 
        }

        h2 {
            margin-top: 2rem; 
            color: white; 
            font-size: 3.8rem; 
            font-weight: 700; 
        }

        p {
            width: 100%; 
            margin-top: 2rem; 
            text-align: center; 
            color: white; 

            @media @tablet {
                margin-right: 0rem; 
            }

        }
    }
}















