// @lambda-times-color-primary: #333;
@main-font-color: rgb(17, 3, 3);
// @lambda-times-color-black: #000;
// @lambda-times-color-lightgrey: lightgrey;
// @lambda-times-color-background: #f1f1f1;
// Variables
@full-width: 850px;

// Mobile var
@phone: ~"(max-width:500px)";
