@mobile: ~"(max-width: 500px)";
@small-mobile: ~"(max-width: 460px)";
@small-pixel2: ~"(max-width: 350px)"; 
@tablet: ~"(min-width: 501px)" and ~"(max-width: 767px)";
@desktop: ~"(min-width: 1024px)";

@main-font-color: rgb(17, 3, 3);

// Variables
@full-width: 1024px;

// Mobile var
@phone: ~"(max-width:500px)";

// Colors
@purp: #9858DB; 
@comp: #FFFF5C;